*{color: #00f; }
*{background-color:#CFC;}
*{font-size: 16px; font-style: Georgia, Cambria, serif;}
h1 {font-size:  32px; font-style: Verdana, Calibri, sans-serif; color: #F00}
h2 {font-size:  24px; font-style:  Verdana, Calibri, sans-serif; color: #A00}
span.libro{color:  PP#060; }
strong{font-size: 20px; font-weight: bold; }
em{color: #FFF; background-color: #000; }